# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.gitkeep
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.agent/workflows/chapter-creation-template.md

# Rules
rules.md

#Textbook
ncert-books-for-class-8-maths.pdf
demm101.pdf
laws_of_motion_neet_ebook.html
structure_of_atom_neet_ebook.html
the_cell_neet_ebook.html
demm104.pdf
demm105.pdf
demm106.pdf
iemh102.pdf
iemh103.pdf
fegp101.pdf
ceev101.pdf
deev101.pdf