
.fair-share-practice-page {
    font-family: 'Open Sans', sans-serif;
}
.fair-share-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.fair-share-board-container {
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
}
.fair-share-left-col {
    width: 100%;
}
