
.house-of-hundreds-ii-practice-page {
    font-family: 'Open Sans', sans-serif;
}
.house-of-hundreds-ii-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.house-of-hundreds-ii-board-container {
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 0 auto;
}
.house-of-hundreds-ii-left-col {
    width: 100%;
}
